.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.user_name {
   height: 15px;
   display: inline-block;
   padding: 8px;
   font-family: 'Kdam Thmor Pro', sans-serif;
   font-size: 16px;
   color: wheat;
   background-color: black;
   border-radius: 10px;
}

.button {
   display: inline-block;
   margin: 10px 10px;
}