.mainPage {
    
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.user_name {
    display: inline-block;
    margin:10px 10px;
    padding: 8px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 16px;
    color: wheat;
    background-color: black;
    border-radius: 10px;
}