.Message {
   height: 300px;
   overflow: hidden;
   overflow-y: scroll;
}

.Send_Form {
   border: 2px cyan solid;
}

.messageItem {
   display: flex;
   padding: 5px 10px;
}

.ChatMessage {
   margin-left: 10px;
   padding-top: 5px;
}

.profielPhoto {
   width: 50px;
   height: 50px;
   overflow: hidden;
   border-radius: 50% 50%;
}
.profielPhoto img{
   width: 50px;
   height: 50px;
}